<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container">
        <div class="jumbotron">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h1 class="">Sistem Informasi Retail</h1>
                </div>
            </div>
            <hr class="my-4">
            <div class="my-3 d-flex justify-content-center">
                <a th:href="@{/user/add}" class="mx-2 btn btn-outline-primary">Tambah User</a>
            </div>
        </div>
    </div>
</body>
</html>