<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Cabang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>


<div class="container">

    <div th:if="${message != null}">
        <span style="color : #3675B8">[[${message}]]</span>
    </div>
    <div class="alert alert-primary" role="alert" th:text="${delete}" th:if="${delete != null}"></div>

    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>List Cabang</h2>
                <br>
                <div th:if="*{listCabang.size() != 0}">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Id Cabang</th>
                                <th>Nama</th>
                                <th>Nomor Telepon</th>
                                <th>Ukuran</th>
                                <th>Jumlah Item</th>
                                <th>Status</th>
                                <th th:if="${user.role.role} != 'Staff Cabang'">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cabang, iterationStatus : ${listCabang}"
                                th:style="${iterationStatus.even} ? 'background-color:#eeeeee;'">
                                <td th:text="${iterationStatus.count}"></td>
                                <td th:text="${cabang.id}"></td>
                                <td th:text="${cabang.nama}"></td>
                                <td th:text="${cabang.noTelepon}"></td>
                                <td th:text="${cabang.ukuran}"></td>
                                <td th:text="${cabang.jumlahItem}"></td>
                                <td th:if="${cabang.status} == 0">Menunggu Persetujuan</td>
                                <td th:if="${cabang.status} == 1">Ditolak</td>
                                <td th:if="${cabang.status} == 2">Disetujui</td>
                                <td th:if="${user.role.role} != 'Staff Cabang'">
                                    <a class="btn btn-success" th:href="@{/cabang/} + ${cabang.id}">
                                        Detail
                                    </a>
                                    <a th:if="${user.role.role} != 'Staff Cabang'" class="btn btn-danger" th:href="@{/cabang/delete/} + ${cabang.id}">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a th:if="${user.role.role} != 'Staff Cabang'" class="btn btn-primary" th:href="@{/}">
                            Tambah Cabang
                        </a>
                        <a class="btn btn-primary" th:href="@{/}">Home</a>
                    </div>
                </div>
                <div th:unless="*{listCabang.size() != 0}">
                    <h2 th:text="'Tidak ada cabang'"></h2>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>