<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment2 :: materializecss" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: title (current='Detail Cabang')" th:remove="tag"></object>
</head>

<body>
    <div th:replace="fragments/fragment2 :: navbar"></div>
    <div class="container">
        <h3 class="center-align grey-text text-darken-1">Detail Cabang</h3>

        <!-- Error -->
        <div class="card-panel green-text text-darken-1" th:text="${success}" th:if="${success != null}"></div>
        <div class="card-panel red-text text-darken-1" th:text="${error}" th:if="${error != null}"></div>

        <div class="card-panel" id="cabang" th:attr="data-id=${cabang.id}">
            <h5 th:text="'Cabang ID ' + ${cabang.id}"></h5>
            <p th:text="'Nama: ' + ${cabang.nama}"></p>
            <p th:text="'No Telepon: ' + ${cabang.nomorTelepon}"></p>
            <p th:text="'Alamat: ' + ${cabang.alamat}"></p>
            <p th:text="'Ukuran: ' + ${cabang.ukuran} +'m^2'"></p>
            <a th:if="${user.getRole().getRole() == 'Kepala Retail'}" th:href="@{/cabang/ubah/} + ${cabang.id}"
               class="waves-effect waves-light btn-small lime edit-btn">
                <i class="material-icons">edit</i>
            </a>
        </div>

        <!--Button tambah items-->
        <a th:if="${user.role.role != 'Staff Cabang' and cabang.status == 2}" type="button"
           class="waves-effect waves-light btn-small" id="tambah-item">Tambah Item</a>

        <!--Button tambah Stok-->
        <a  type="button" class="waves-effect waves-light btn-small" th:href="@{/cabang/ubah/} id="tambah-stok">Tambah Stok</a>

        <!-- Loader -->
        <div class="" id="loader2">
            <div class="indeterminate"></div>
        </div>

        <!-- Pagination -->
        <ul class="pagination" id="pagination-container"></ul>

        <!-- Item Container -->
        <ul class="" id="item-kontainer"></ul>


        <div th:if="${listItem.size() != 0}">
            <h5>List Item:</h5>
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Id Item</th>
                        <th>Nama</th>
                        <th>Stok</th>
                        <th>Harga</th>
                        <th th:if="${user.role.role != 'Staff Cabang'}">Action</th>
                    </tr>
                </thead>
                <tbody id="tabel-item">
                    <tr th:each="item, iterationStatus : ${listItem}">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.nama}"></td>
                        <td th:text="${item.stok}"></td>
                        <td th:text="${item.harga}"></td>
                        <td th:if="${user.role.role != 'Staff Cabang'}">
                            <a th:if="${!punyaKupon[__${iterationStatus.index}__]}"
                               type="button"
                               class="waves-effect waves-light btn-small button-kupon">Terapkan Kupon</a>
                            <a th:if="${user.role.role} != 'Staff Cabang'"
                               type="button"
                               class="btn-small waves-effect waves-light red delete-btn">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Loader 1-->
        <div class="" id="loader">
            <div class="indeterminate"></div>
        </div>

        <!--Kupon Kontainer-->
        <div th:if="${cabang.status == 2}" class="card-panel" id="kupon-container"></div>

        <!--Button-->
        <a th:href="@{/cabang/viewall}" class="waves-effect waves-light btn indigo lighten-1">
            Kembali
        </a>
    </div>


    <object th:include="fragments/fragment2 :: materializejs" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: tambahan" th:remove="tag"></object>
    <script >

        const tambahkanKupon = (kupon, idItem) => {
            const buttonTambah = $(`#btn-kupon-${kupon.idCoupon}`)
            buttonTambah.click(() => {
                let APILink = location.origin + `/api/v1/item/${idItem}`
                $.ajax({
                    url: APILink,
                    type: "PUT",
                    data: {
                        "jumlahDiskon": kupon.discountAmount,
                        "idPromo": kupon.idCoupon
                    },
                    beforeSend: () => {
                        $("#loader").addClass("progress");
                        console.log("MENGIRIM");
                    },
                    success: response => {
                        M.toast({ html: `Berhasil menambahkan diskon...`, classes: "rounded" });
                        $("#loader").removeClass("progress");
                        location.reload();
                    }
                })
            })
        }

        const loadKupon = (kupon, idItem) => {
            console.log(kupon);
            let id = kupon.idCoupon;
            let kodeKupon = kupon.couponCode;
            let jumlahDiskon = kupon.discountAmount;
            const HTMLText = `
                <div class="card-body">
                    ${kodeKupon} <span style="color: red">(${jumlahDiskon}%)</span>
                    <button class="btn btn-success" id="btn-kupon-${id}">Tambahkan</button>
                </div>
                <br>
            `
            $("#kupon-container").append(HTMLText);
            tambahkanKupon(kupon, idItem);
        }

        const loadData = (response, idItem) => {
            const res = JSON.parse(response);
            const kupons = res.result;
            kupons.forEach(kupon => {
                loadKupon(kupon, idItem);
            })
        }

        const getKupon = (idItem) => {
            let APILink = location.origin + "/api/v1/kupon";
            $.ajax({
                url: APILink,
                type: "GET",
                beforeSend: () => {
                    console.log("AMBIL DATA");
                    $("#kupon-container").empty();
                    $("#loader").addClass("progress");
                },
                success: response => {
                    $("#loader").removeClass("progress");
                    loadData(response, idItem);
                }
            })
        }

        const terapkanButtons = document.querySelectorAll(".button-kupon");
        terapkanButtons.forEach(btn => {
            btn.addEventListener('click', () => {
                let row = btn.parentElement.parentElement;
                let id = row.children[1].innerHTML;
                getKupon(id)
            })
        })

        $(document).ready(function(){
            $('.materialboxed').materialbox();
        });

        const updateStokItem = (uuid, stok) => {
            let APILink = "http://si-item.herokuapp.com/api/item/" + uuid;
            $.ajax({
                url: APILink,
                type: "PUT",
                headers: {
                  'Access-Control-Allow-Origin': '*'
                },
                data: JSON.stringify({
                    "stok": stok
                }),
                beforeSend: () => {
                    console.log("UPDATE ke SI-ITEM");
                },
                success: response => {
                    console.log("SUKSES");
                }
            })
        }

        const tambahkanItem = item => {
            const buttonTambahItem = $(`#btn-item-${item.uuid}`);
            const cabangDiv = document.querySelector("#cabang");
            const idCabang = parseInt(cabangDiv.dataset.id);

            buttonTambahItem.click(() => {
                const jumlahDitambah = $(`#input-${item.uuid}`).val()
                let APILink = location.origin + "/api/v1/item";
                // updateStokItem(item.uuid, (item.stok - jumlahDitambah));
                $.ajax({
                    url: APILink,
                    type: "POST",
                    data: JSON.stringify({
                        "id": item.uuid,
                        "nama": item.nama,
                        "harga": item.harga,
                        "kategori": item.kategori,
                        "stok": jumlahDitambah,
                        "idCabang": idCabang
                    }),
                    contentType: 'application/json',
                    beforeSend: () => {
                        $("#loader2").addClass("progress");
                    },
                    success: response => {
                        $("#loader2").removeClass("progress");
                        location.reload();
                    }
                })
            })
        }

        const handleInput = item => {
            $(`#input-${item.uuid}`).change(() => {
                console.log("CHANGE");
                console.log($(`#input-${item.uuid}`).val());
            })
        }

        const loadItem = item => {
            let uuid = item['uuid'];
            let nama = item['nama'];
            let kategori = item['kategori'];
            let stok = item['stok'];
            let harga = item['harga'];
            const HTMLText = `
                <li style="padding-left: 0;" class="collection-item avatar row">
                    <div class="col s12 m6 l9">
                        <span class="title indigo-text">${nama}</span><br>
                        <span class="grey-text"><i class="material-icons">attach_money</i> Harga: ${harga}</span><br>
                        <span class="grey-text"> Stok: ${stok}</span><br>
                        <span class="grey-text"> Kategori: ${kategori}</span><br>
                        <div class="input-field col s6">
                          <input id="input-${uuid}"  type="number" class="validate">
                          <label for="input-${uuid}">Jumlah Ditambah</label>
                        </div>
                        <button class="btn btn-success" type="button" id="btn-item-${uuid}"><i class="material-icons">add</i></button>
                    </div>
                </li>
            `;
            $("#item-kontainer").append(HTMLText);
            tambahkanItem(item);
        }

        const loadItems = response => {
            const res = JSON.parse(response);
            const result = res.result
            let numPage = localStorage.getItem("num");
            const from = (numPage - 1) * 5;
            const to = (numPage * 5)
            res.result = result.slice(from, to);
            const items = res.result;
            console.log(items);
            items.forEach(item => {
                loadItem(item);
            })
        }

        const pagination = () => {
            const pageButtons = document.querySelectorAll(".page");
            pageButtons.forEach(btn => {
                btn.addEventListener('click', () => {
                    let idBtnBefore = localStorage.getItem("num");
                    let btnBefore = document.querySelector(`#page-${idBtnBefore}`);
                    btnBefore.classList.remove("active");

                    btn.classList.add("active");
                    let numPage = btn.dataset.num;
                    localStorage.setItem("num", numPage);

                    let APILink = location.origin + "/api/v1/item";
                    $.ajax({
                        url: APILink,
                        type: "GET",
                        beforeSend: () => {
                            $("#loader2").addClass("progress");
                            $("#item-kontainer").removeClass("collection");
                            $("#item-kontainer").empty();
                        },
                        success: response => {
                            $("#item-kontainer").addClass("collection");
                            $("#loader2").removeClass("progress");
                            loadItems(response);
                        }
                    })
                })
            })
        }

        const loadPagination = () => {
            const HTMLText = `
                <li class="waves-effect disabled" id="before"><a><i class="material-icons">chevron_left</i></a></li>
                <li class="waves-effect active page" id="page-1" data-num="1"><a>1</a></li>
                <li class="waves-effect page" id="page-2" data-num="2"><a>2</a></li>
                <li class="waves-effect page" id="page-3" data-num="3"><a>3</a></li>
                <li class="waves-effect page" id="page-4" data-num="4"><a>4</a></li>
                <li class="waves-effect page" id="page-5" data-num="5"><a>5</a></li>
                <li class="waves-effect disabled" id="after"><a><i class="material-icons">chevron_right</i></a></li>
            `;
            $("#pagination-container").append(HTMLText);
            pagination();
        }

        const getItems = () => {
            let APILink = location.origin + "/api/v1/item";
            $.ajax({
                url: APILink,
                type: "GET",
                beforeSend: () => {
                    $("#loader2").addClass("progress");
                    $("#pagination-container").empty();
                    $("#item-kontainer").removeClass("collection");
                    localStorage.setItem("num", "1");
                    console.log("GET ITEMS");
                },
                success: response => {
                    $("#item-kontainer").addClass("collection");
                    $("#loader2").removeClass("progress");
                    loadItems(response);
                    loadPagination();
                }
            })
        }

        $("#tambah-item").click(() => {
            getItems();
        })

        const deleteButtons = document.querySelectorAll('.delete-btn');
        const tabelItem = document.querySelector('#tabel-item');
        deleteButtons.forEach(btn => {
            btn.addEventListener('click', () => {
                let row = btn.parentElement.parentElement;
                let id = row.children[1].innerHTML;
                let APILink = location.origin + "/api/v1/item/" + id;
                $.ajax({
                    url: APILink,
                    type: "DELETE",
                    beforeSend: () => {
                        tabelItem.removeChild(row);
                        $("#loader2").addClass("progress");
                    },
                    success: response => {
                        $("#loader2").removeClass("progress");
                        const item = response.result;
                        M.toast({ html: `Item ${item.nama} berhasil dihapus....`, classes: "rounded" });
                    }
                })

            })
        })

    </script>
</body>
</html>