<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment2 :: materializecss" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: title (current='Update User')" th:remove="tag"></object>
</head>

<body>
    <div th:replace="fragments/fragment2 :: navbar"></div>
    <div class="container">
        <h3 class="center-align grey-text text-darken-1">Update User</h3>
        <div class="card-panel">
            <div class="card-panel green-text text-darken-1" th:text="${success}" th:if="${success != null}"></div>
            <div class="card-panel red-text text-darken-1" th:text="${error}" th:if="${error != null}"></div>
            <form th:action="@{/user/changeuser}" th:object="${user}" class="col s12" method="post">
                <input type="hidden" th:field="${user.id}" />
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" th:value="*{username}" name="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="nama" th:value="*{nama}" name="nama" type="text" class="validate">
                        <label for="nama">Nama</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" th:value="*{email}" name="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" id="password" name="password" class="validate"
                               pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
                               title="Password wajib mengandung angka, huruf besar, huruf kecil, dan simbol, serta terdiri dari minimal 8 karakter.">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row" th:if="${kepalaRetail == 1}">
                    <div class="input-field col s12">
                        <select name="role">
                            <option value="" th:text="'--Pilih Role--'" selected></option>
                            <option th:each="role : ${listRole}"
                                    th:value="${role.id}"
                                    th:text="${role.role}"></option>
                        </select>
                        <label>Role</label>
                    </div>
                </div>
                <div th:if="${kepalaRetail == 0}">
                    <input type="hidden" th:field="${user.role}" />
                </div>

                <a th:href="@{/user/viewall}" class="waves-effect waves-light btn red lighten-1">
                    <i class="material-icons left">close</i>
                    batal
                </a>
                <button type="submit" class="waves-effect waves-light btn indigo lighten-1">
                    <i class="material-icons left">send</i>
                    simpan
                </button>
            </form>
        </div>
    </div>

    <object th:include="fragments/fragment2 :: materializejs" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: tambahan" th:remove="tag"></object>
</body>
</html>