<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ubah Detail Cabang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2>Ubah Detail Cabang</h2>
                    <br>
                    <form th:action="@{/cabang/ubah}" th:object="${cabang}" method="POST">

                        <div th:if="${message != null}">
                            <span style="color : #3675B8">[[${message}]]</span>
                        </div>
                        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success != null}"></div>
                        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error != null}"></div>
                        <br>
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" name="status" class="form-control" th:field="${cabang.status}"/>
                        <input type="hidden" name="penanggungJawab" th:field="*{penanggungJawab.id}"/>

                        <label>Nama Cabang</label>
                        <input type="text" name="nama" class="form-control" th:value="${cabang.nama}">

                        <label>Alamat Cabang</label>
                        <input type="text" name="alamat" class="form-control" th:value="${cabang.alamat}" >

                        <label>Nomor Telepon</label>
                        <input type="text" name="nomorTelepon" class="form-control" th:value="${cabang.nomorTelepon}">

                        <label>Ukuran (m^2)</label>
                        <input type="number" name="ukuran" class="form-control" th:value="${cabang.ukuran}">

                        <br>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a class="btn btn-primary" th:href="@{/}">Home</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>