<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment2 :: materializecss" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: title (current='Home')" th:remove="tag"></object>
</head>

<body>
    <div th:replace="fragments/fragment2 :: navbar"></div>
    <div class="container">
        <div class="card-panel">
            <div class="card-panel indigo">
                <h2 class="center-align white-text">Welcome to SI-Retail!</h2>
            </div>
            <br>
            <h5 class="center-align grey-text">List of Features:</h5>
            <div class="center-align">
                <a th:href="@{/user/viewall}" class="waves-effect waves-light btn-large indigo">
                    <i class="material-icons left">person</i>User
                </a>
                <a th:href="@{/cabang/viewall}" class="waves-effect waves-light btn-large indigo">
                    <i class="material-icons left">business</i>
                    Cabang
                </a>
                <a th:if="${user.getRole().getRole() == 'Kepala Retail'}" th:href="@{/cabang/menunggukonfirmasi}" class="waves-effect waves-light btn-large indigo">
                    List Cabang Menunggu Konfirmasi
                </a>
            </div>
        </div>
    </div>

    <object th:include="fragments/fragment2 :: materializejs" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: tambahan" th:remove="tag"></object>
</body>
</html>