<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment2 :: materializecss" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: title (current='Info')" th:remove="tag"></object>
</head>

<body>
<div th:replace="fragments/fragment2 :: navbar"></div>
<div class="container">
    <div class="card-panel">
        <h4 th:text="'User dengan nama '  + ${user.nama} + ' berhasil diubah'"
            class="center-align black-text"></h4>
        <a th:href="@{/}" class="waves-effect waves-light btn indigo lighten-1"><i class="material-icons left">home</i>Home</a>
    </div>
</div>

<object th:include="fragments/fragment2 :: materializejs" th:remove="tag"></object>
<object th:include="fragments/fragment2 :: tambahan" th:remove="tag"></object>
</body>
</html>