<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment2 :: materializecss" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: title (current='List Cabang')" th:remove="tag"></object>
</head>

<body>
    <div th:replace="fragments/fragment2 :: navbar"></div>
    <div class="container">
        <h3 class="center-align grey-text text-darken-1">List Cabang</h3>

        <!-- Error -->
        <div class="card-panel green-text text-darken-1" th:text="${success}" th:if="${success != null}"></div>
        <div class="card-panel red-text text-darken-1" th:text="${error}" th:if="${error != null}"></div>

        <a th:unless="${user.getRole().getRole() == 'Staff Cabang'}" th:href="@{/cabang/add}"
           class="waves-effect waves-light btn teal">
            <i class="material-icons left">add</i>
            Tambah Cabang
        </a>
        <div th:if="${listCabang.size() != 0}">
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Id Cabang</th>
                        <th>Nama</th>
                        <th>Nomor Telepon</th>
                        <th>Ukuran</th>
                        <th>Jumlah Item</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cabang, iterationStatus : ${listCabang}">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${cabang.id}"></td>
                        <td th:text="${cabang.nama}"></td>
                        <td th:text="${cabang.noTelepon}"></td>
                        <td th:text="${cabang.ukuran}"></td>
                        <td th:text="${cabang.jumlahItem}"></td>
                        <td th:if="${cabang.status} == 0">Menunggu Persetujuan</td>
                        <td th:if="${cabang.status} == 1">Ditolak</td>
                        <td th:if="${cabang.status} == 2">Disetujui</td>
                        <td>
                            <a th:href="@{/cabang/} + ${cabang.id}" class="waves-effect waves-light btn-small">Lihat</a>
                            <a th:if="${user.role.role} != 'Staff Cabang'"
                               th:href="@{/cabang/delete/} + ${cabang.id}"
                               class="btn-small waves-effect waves-light red">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${listCabang.size() <= 0}">
            <h5 class="indigo-text">Belum ada cabang!</h5>
        </div>
        <a th:href="@{/}" class="waves-effect waves-light btn indigo lighten-1">
            <i class="material-icons left">home</i>Kembali
        </a>
    </div>

    <object th:include="fragments/fragment2 :: materializejs" th:remove="tag"></object>
    <object th:include="fragments/fragment2 :: tambahan" th:remove="tag"></object>
</body>
</html>